{
  "bracketSameLine": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": [ "prettier-plugin-tailwindcss" ],
  "tailwindAttributes": [ "className" ],
  "tailwindFunctions": [ "cva", "tv" ]
}
